body{
  display: flex;
  justify-content: center;
}

.container{
  position: relative;
  top: 0px;
  cursor: url('assets/bucket1.png'),default;
}

.reserva {
  background-image: url('assets/reserva.png');
  position: absolute;
  top: 35px;
  z-index: 1;
  
}

.foco-incendio {
  background-image: url('assets/foco.gif');
  position: absolute;
  cursor: url('assets/bucket2.png'),default;
  z-index: 2;
}

.caveira-de-fogo{
  background-image: url('assets/caveira.gif');
  background-size: 100px 116px;
  cursor: url('assets/bucket2.png'),default;
  position: absolute;
  z-index: 2;
}

.devastacao{
  background-image: url('assets/devastacao.png');
  background-size: 75px 75px;
  position: absolute;
  margin-top: 65px;
  margin-left: 15px;
  background-repeat: no-repeat;
  z-index: 2;
}

.caveira-devastacao{
  background-image: url('assets/devastacao.png');
  background-size: 90px 90px;
  position: absolute;
  margin-top: 45px;
  margin-left: 15px;
  background-repeat: no-repeat;
  z-index: 2;
}

.vidas{
  background-image: url('assets/arvore.png');
  background-size: 65px 34px;
  background-repeat: repeat-x;
  position: absolute;
  z-index: 2;
}

.score{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  width: 100px;
  height: 40px;
  position: absolute;
  margin-left:1143px;
  z-index: 2;
}

.menu-start{
  background-image: url('assets/menuStart.gif');
  background-size: 1024px 576px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.menu-pause{
  background-image: url('assets/menuPause.png');
  background-size: 1024px 576px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.menu-game-over{
  background-image: url('assets/menuGameOver.png');
  background-size: 1024px 576px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}
